@import components/mixin

h1,h2
    margin: 0
    

html
    font-size: 1px

body 
    margin: 0
    font-family: 'Rubik'

ul
    margin: 0
    padding: 0
    list-style: none

a 
    text-decoration: none

figure
    margin: 0

h2
    margin-bottom: 50rem
    color: #25445E
    text-align: center
    font-size: 48px
    font-weight: 700
    text-transform: uppercase
.top-line
    padding: 12rem 0
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15)
    backdrop-filter: blur(10px)

.wrapper
    margin: 0 auto
    // max-width: 1366rem
    max-width: 1100rem
    width: 100%
    // padding: 0 15rem
    box-sizing: border-box

.flex-between
    display: flex
    justify-content: space-between

.flex-wrap
    flex-wrap: wrap

.flex
    display: flex

.top-nav
    column-gap: 50rem

.top-nav,
.header-contact  
    a 
        display: inline-block
        color: #191919
        font-family: Rubik
        font-size: 16rem
        transition: all 1s ease
        &:hover
            color: #4E98B6
            text-decoration: underline

.logo 
    img
        width: 75rem
        height: 75rem

.header-contact
    max-width: 400rem
    width: 100%
    column-gap: 30rem
    justify-content: flex-end

.phone
    column-gap: 9rem

.cart
    position: relative
    a
        position: absolute
        width: 100%
        height: 100%

.card-menu
    padding: 74rem 0
    > h2
        margin: 0
        color: #25445E
        text-align: center
        font-size: 48rem
        font-weight: 700
        text-transform: uppercase
    > p
        margin: 0
        padding: 30rem 0 50rem
        color: #191919
        text-align: center
        font-size: 18rem
        font-weight: 500

.btn-season
    align-items: center
    justify-content: space-between
    column-gap: 95rem
    padding-bottom: 22rem

.filter-season
    column-gap: 15rem
    a
        transition: all .5s ease
        display: block
        padding: 10rem
        max-width: 225rem
        color: #191919
        text-align: center
        font-size: 16rem
        font-weight: 400
        border-radius: 3px
        border: 1px solid #A0A0A0   
        &:hover
            border: 1px solid #4E98B6
            background: #4E98B6
            color: #fff


.arrow-select 
    position: relative
    display: block
    background-color: #F1F1F1
    border-radius: 3rem
    overflow: hidden
    &::before
        content: ""
        position: absolute
        top: 50%
        right: 10rem
        z-index: 0
        width: 12rem
        height: 6rem
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6" fill="none"><path d="M6 6L0.803849 0.749999L11.1962 0.75L6 6Z" fill="%234E98B6"/></svg>')
        transform: translateY(-50%)
    > select
        padding: 10rem 30rem 10rem 10rem
        position: relative
        color: #191919
        font-size: 12rem
        font-weight: 400
        background-color: #F1F1F1
        border: 0.5px solid #F1F1F1
        background-color: transparent
        appearance: none
        -webkit-appearance: none
        cursor: pointer
        z-index: 1


.filter
    width: 100%
    max-width: 245rem
    padding-right: 25rem
    padding-top: 80rem
    box-sizing: border-box
    > h2
        margin: 0
        color: #4E98B6
        font-size: 20rem
        font-weight: 700
        text-transform: uppercase
    h3
        color: #191919
        font-size: 18rem
        font-weight: 500
    label 
        color: #191919
        font-size: 16rem
        font-weight: 300

.check-size,
.price-filter,
.color-filter,
.model,
.season-filter,
.material,
.style,
.button-filter
    flex-direction: column

.check-size,
.color-filter,
.model,
.season-filter,
.material,
.style
    input
        display: none
        width: 100%
    input + label
        position: relative
        margin: 0
        padding-left: 30rem
        padding-bottom: 14rem

    input + label::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 15rem
        height: 15rem
        border-radius: 2rem
        border: 1px solid #A0A0A0
    input:checked + label::before
        background-color: #4E98B6

.price-input .field
    display: flex
    width: 100%
    align-items: center

.field input
    width: 100%
    height: 100%
    outline: none
    color: #191919
    font-size: 12rem
    font-weight: 400
    border-radius: 3px
    text-align: center
    border: 0.5px solid #F1F1F1
    background: #F1F1F1
    -moz-appearance: textfield

input[type="number"]
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
        -webkit-appearance: none

.price-input .separator
    position: relative
    width: 130rem
    display: flex
    align-items: center
    justify-content: center
    &::before
        content: ""
        position: absolute
        width: 15rem
        height: 1rem
        background-color: #191919

.slider
    height: 1rem
    position: relative
    background: #A0A0A0
    border-radius: 5px

.progress
    height: 100%
    left: 25%
    right: 25%
    position: absolute
    border-radius: 5px
    background: #A0A0A0

.range-input
    position: relative
    margin-bottom: 10rem

    input
        position: absolute
        width: 100%
        height: 1rem
        top: -3px
        background: none
        pointer-events: none
        -webkit-appearance: none
        -moz-appearance: none

input[type="range"]
    &::-webkit-slider-thumb
        height: 15px
        width: 15px
        border-radius: 50%
        background: #4E98B6
        pointer-events: auto
        -webkit-appearance: none

    &::-moz-range-thumb
        height: 15px
        width: 15px
        border: none
        border-radius: 50%
        background: #4E98B6
        pointer-events: auto
        -moz-appearance: none


.button-filter
    row-gap: 10rem
    padding-top: 16rem
    
.submit-filter,
.reset-filter
    transition: all 1s ease
    max-width: 235rem
    padding: 11rem 23rem
    border: none
    border-radius: 5rem
    background-color: #4E98B6
    color: #fff
    text-align: center
    font-size: 16rem
    font-weight: 600
    cursor: pointer

.submit-filter
    &:hover
        background-color: #25445E
    
.reset-filter
    &:hover
        background-color: #F1F1F1

.reset-filter
    color: #4E98B6
    border: 1px solid #4E98B6
    background-color: #fff

.card-bott
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    font-size: 14rem
    border: 0.5rem solid #F1F1F1

.card-box
    position: relative
    padding: 20rem
    width: 100%
    max-width: 285rem
    border: 0.5rem solid #F1F1F1
    background-color: #fff
    box-sizing: border-box
    img
        width: 100%

.click-card
    position: absolute 
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 1
        
.header-card
    height: 60rem
    margin: 20rem 0 15rem
    color: #191919
    font-size: 16rem
    text-transform: uppercase

.old-price
    height: 8px
    margin: 0
    color: #A0A0A0
    font-size: 12px
    font-weight: 300
    text-decoration: line-through

.new-price
    margin: 5rem 0 15rem
    color: #4E98B6
    font-size: 16px
    font-weight: 500

.input-block
    display: flex
    padding-bottom: 10rem   
    column-gap: 10rem
    input
        display: none
    input + label
        display: flex
        align-items: center
        justify-content: center
        position: relative
        top: 0
        left: 0
        font-size: 12rem
        width: 25rem
        height: 25rem
        color: #191919
        border-radius: 3rem
        border: 0.5px solid #F1F1F1
        font-weight: 300
        text-align: center
        cursor: pointer
    input:checked + label
        color: #A0A0A0
        background-color: #F1F1F1
            
.cta-card
    position: relative
    display: block
    border-radius: 5rem
    color: #fff
    text-align: center
    padding: 13rem 43rem
    background-color: #4E98B6
    transition: all 1s ease
    box-shadow: 0 2rem 5rem 2rem #ccc
    z-index: 3
    &:hover
        background-color: #25445E

.pagination
    button
        color: #191919
        font-size: 12rem
        font-weight: 400
        text-transform: uppercase
        border: none
        background-color: transparent

.reviews-list
    display: flex
    justify-content: center
    column-gap: 10rem
    row-gap: 20rem
    margin-bottom: 30rem
        
.text-title
    font-size: 48rem
    font-weight: 700
    line-height: 1.2em
    text-align: center
    text-transform: uppercase

.reviews 
    width: 100%
    background: #25445E
    .text-title
        color: #fff

.items-center
    align-items: center

.review-card
    width: 26%
    max-width: 500rem
    min-width: 300px
    border-radius: 5px
    border: 1px solid #A0A0A0
    background-color: #fff
    padding: 20rem
    span
        font-size: 18rem
        color: #191919
        font-weight: 600
        line-height: 1.2em
    p
        font-size: 12rem
        color: #191919
        font-weight: 300
        line-height: 1.2em


span.date
    font-size: 12rem
    font-weight: 300
    color: #A0A0A0
    line-height: 1.2em

.review-btns
    display: flex
    justify-content: center
    column-gap: 10rem

.btn-style-one,
.btn-style-two
    display: flex
    justify-content: center
    align-items: center
    width: 200rem
    min-height: 50rem
    text-align: center
    font-size: 16rem
    font-weight: 600
    border-radius: 5px
    text-decoration: none
    border: 1px solid #4E98B6

.btn-style-one
    color: #FFF
    background: #4E98B6

.btn-style-two
    color: #4E98B6
    background: #fff

.aboutus
    padding: 100rem 0

.bgc-block
    position: relative
    padding: 358rem 0
    background: url("../img/shouse-shadow.png") no-repeat center/cover

.our-advantage
    position: absolute
    top: 50%
    right: 5%
    transform: translateY(-50%)
    max-width: 550rem
    h3
        padding-bottom: 47rem
        color: #25445E
        font-size: 20rem
        font-weight: 700
        text-transform: uppercase
    p
        margin: 0
        // padding-left: 90rem
        margin-bottom: 45rem
        color: #191919
        font-size: 18px
        font-weight: 500

.deliver,
.our-client,
.our-like
    column-gap: 50rem
    
.circle
    display: flex
    align-items: center
    justify-content: center
    width: 170rem
    height: 70rem
    border-radius: 50%
    background-color: #4E98B6

.catalog-cta
    +btn($fixed:false)

.catalog-blue
    +btn($fixed:true)

.price
    color: #4E98B6
    font-size: 30rem
    font-weight: 600

h1 
    color: #25445E
    font-size: 68rem
    font-weight: 700
    text-transform: uppercase

.advantage
    max-width: 780rem
    p
        color: #191919
        font-size: 20rem
        font-weight: 500
        text-transform: uppercase

.arrow
    max-width: 140rem

.arr-left,
.arr-right
    display: block
    width: 52rem
    height: 28rem
    background-image: url(../img/arrow.svg)
    background-size: cover

.arr-right
    transform: rotate(180deg)

.header-carousel.proposition
    display: flex
    position: relative
    padding-top: 15vw
    padding-bottom: 21vw
    transition: 1s
    background-repeat: no-repeat
    background-position: right
    background-size: cover
    background-repeat: no-repeat
    

.bg-first
    background: url(../img/header-bg-1.jpg)
    background-size: cover
.bg-second
    background: url(../img/header-background-2.jpg)
    background-size: cover

.advantage
    margin-bottom: 50rem

.arrow
    position: absolute
    bottom: 40rem
    column-gap: 35rem
    div
        cursor: pointer

.season span
    display: none
    transition: 0.5s
    opacity: 0



.basket-popup 
    display: none
    position: fixed
    width: 100vw
    height: 100vh
    background-color: #fff
    z-index: 5
    overflow-y: hidden

.basket-header-line
    column-gap: 10rem
    h2
        color: #25445E
        leading-trim: both
        text-edge: cap
        font-size: 48rem
        font-weight: 700
        text-transform: uppercase

.calc-added-products
    display: flex
    justify-content: center
    align-items: center
    width: 30rem
    height: 30rem
    flex-shrink: 0
    background: #4E98B6
    border-radius: 50%
    color: #FFF
    leading-trim: both
    text-edge: cap
    font-size: 24rem
    font-weight: 600

.added-products-list 
    padding-bottom: 120rem
    overflow-y: scroll
    img 
        width: 150rem
        height: 150rem
    h3
        color: #191919
        leading-trim: both
        text-edge: cap
        font-size: 16rem
        font-weight: 500
        text-transform: uppercase
    .description
        td
            color: #191919
            leading-trim: both
            text-edge: cap
            font-size: 12rem
            font-weight: 400
            span
                color: #A0A0A0
                text-decoration-line: strikethrough
            span + td
                color: #4E98B6
                font-weight: 500
        tr > td:first-child
            color: #A0A0A0
            font-weight: 300

.delete-product
    position: relative
    color: #191919
    leading-trim: both
    text-edge: cap
    font-size: 12rem
    font-weight: 300
    &::before
        content: ''
        position: absolute
        width: 10rem
        height: 10rem
        background: url("../img/crossico.svg")
        top: 50%
        transform: translateY(-50%)
        left: -20rem

.hidden
    overflow-y: hidden

.w-100
    width: 100%

.total-price span
    color: #4E98B6
    leading-trim: both
    text-edge: cap
    font-size: 16rem
    font-weight: 500

.basket-header-line
    display: flex
    align-items: center
    background: #F1F1F1
    min-height: 100px
    margin-bottom: 50px

.basket-footer
    position: absolute
    display: flex
    align-items: center
    width: 100%
    background: #F1F1F1
    min-height: 100px
    bottom: 0

.basket-back 
    position: relative
    color: #191919
    leading-trim: both
    text-edge: cap
    font-size: 18px
    font-weight: 500
    padding-left: 40px
    &::before
        content: ''
        position: absolute
        width: 20px
        height: 10px
        left: 0
        top: 50%
        transform: translateY(-50%)
        background-image: url(../img/basket-arrow.svg)

.d-block
    display: block

.basket-back
    cursor: pointer

.quantity
    display: inline-flex
    justify-content: center
    width: 40px
    column-gap: 5px
    padding: 3px 4px
    border: 1px solid #A0A0A0
    border-radius: 2px

.minus-quantity,
.plus-quantity
    color: #A0A0A0
    text-align: center
    leading-trim: both
    text-edge: cap
    font-size: 12rem
    font-weight: 300
    cursor: pointer


.order-details
    width: 40%
    h3
        color: #4E98B6
        leading-trim: both
        text-edge: cap
        font-size: 20rem
        font-weight: 700
        text-transform: uppercase
.order-line
    span
        font-size: 18rem
        color: #191919
        leading-trim: both
        text-edge: cap
        font-weight: 500
    span:last-child
        font-size: 16rem