//- кнопка каталог товарів
mixin cta(catalog)
    a.catalog-cta(href="#") в каталог

- 
    let orders = {
        step1: {
            circleIcon: "img/boots.svg",
            class: "step1",
            alt: "",
            step: "Крок 1",
            takeBoots: "обираєте товар",
            descript: "Ви обираєте товар який вам найбільше сподобався, додаєте його в корзину і залишаєте заявку, від двох пар взуття, робимо безкоштовну доставку."
        },
        step2: {
            circleIcon: "img/phonetell.svg",
            class: "step2",
            alt: "",
            step: "Крок 2",
            takeBoots: "дзвінок менеджера",
            descript: "Наш менеджер перетелефонує вам для уточнення даних, перед замовленням передивіться чи є саме ваш розмір та код моделі в наявності. Раді будемо дати вам відповіді на запитання."
        },
        step3: {
            circleIcon: "img/box.svg",
            class: "step3",
            alt: "",
            step: "Крок 3",
            takeBoots: "відправка замовлення",
            descript: "Відправка товару здійснюється протягом 1-3 робочих днів, відправляємо сервісом Нова пошта (накладеним платежем), Укрпошта (повна передплата)"
        }
    } 

mixin ordersStep(orders)
    .icon-block(class=`${orders.class}`)
    .step-one 
        p.step #{orders.step}
        p.take-boots #{orders.takeBoots}
        p.step-description #{orders.descript}


