doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        title Взуттєвий Магнат
        link(rel="stylesheet", href="css/styles.css")
    
    body 
        include components/mixin
        .popup
            .popup-header-line
                .wrapper.flex.items-center
                    h2 кошик
                    .calc-added-products 0
            .popup-main.flex-between.wrapper.overflow  
                  
                .added-products-list
                .order-details
                    h3 деталі замовлення
                    .order-line.flex-between.w-100
                        span Вартість замовлення
                        span.order-total-price 0
                    .order-line.flex-between.w-100
                        span Знижка
                        span.order-discount 0 
                    hr
                    .order-line.flex-between.w-100
                        div.order-summarize
                            p разом до  оплати
                            span (без врахування доставки) 
                        div.price-totally
                            b 0
                    .flex-between 
                        a(href="#").btn-style-one оформити замовлення  
                        a(href="#").btn-style-two продовжити покупки
            .popup-footer 
                .wrapper
                    span.basket-back повернутися у каталог
        .order-confirm-popup
            .popup-header-line
                .wrapper.flex.items-center
                    h2 оформлення замовлення
            .popup-main.flex-between.wrapper.overflow  
                .order-form.w-50 
                    h3 ваші контактні дані
                    form(action="sendorder.php", method="post") 
                        input(type="hidden", name="orderProducts")#orderProductsObject
                        .flex-between
                            label.w-50 
                                p Мобільний телефон
                                input(type="number", name="userPhone") 
                            label.w-50 
                                p Електронна пошта
                                input(type="email", name="userEmail") 
                        .flex-between
                            label.w-50 
                                p Імʼя
                                input(type="text", name="userName") 
                            label.w-50 
                                p Прізвище
                                input(type="text", name="userFirstName")
                        .payment-method 
                            h3 спосіб оплати
                            .relative
                                input(type="radio", name="paymenttype" value="Готівкою при отриманні/накладений платіж").custom-checkbox
                                label.flex.checkbox-style
                                    span Готівкою при отриманні/накладений платіж
                            .relative
                                input(type="radio", name="paymenttype" value="Переказ на банківську картку").custom-checkbox
                                label.flex.checkbox-style
                                    span Переказ на банківську картку
                        .delivery-method 
                            h3 спосіб доставки
                            .relative
                                input(type="radio", name="deliveryMethod" value="Нова Пошта").custom-checkbox
                                label.d-block.checkbox-style
                                    span Нова Пошта
                            .relative
                                input(type="radio", name="deliveryMethod" value="Укрпошта").custom-checkbox
                                label.d-block.checkbox-style
                                    span Укрпошта
                            .flex-between 
                                label.w-50
                                    p Місто
                                    input(type="text", name="city")
                                label.w-50
                                    p Номер відділення
                                    input(type="text", name="postNumber")
                        .hidden-inputs
                        input(type="submit", value="submit")
                .order-price-details
            .popup-footer 
                .wrapper
                    span.basket-back повернутися у каталог
        header 
            .top-line
                .wrapper.flex-between.items-center.top-nav-gap
                    nav
                        .burger#burger.burger-fix
                            span.bord
                        ul.menu.flex-between.top-nav
                            li
                                a(href="index.html") Головна
                            li
                                a(href="#") Каталог
                            li
                                a(href="#") Відгуки
                            li
                                a(href="#") Про нас
                    .logo
                        a(href="index.html")
                            img(src="img/logo.webp", alt="") 
                    .header-contact.flex.items-center
                        p.cart
                            a(href="#") 
                                svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewbox='0 0 25 25')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25ZM6.42541 6.43307C6.53772 6.31585 6.69004 6.25 6.84888 6.25H7.13155C7.5257 6.24988 7.90895 6.38504 8.22225 6.63465C8.53555 6.88426 8.7615 7.23448 8.86529 7.63132L8.99405 8.1251H17.5508C17.7351 8.12487 17.9169 8.16902 18.0822 8.25412C18.2475 8.33921 18.3917 8.46296 18.5036 8.61573C18.6156 8.76849 18.6923 8.94616 18.7277 9.13491C18.7631 9.32365 18.7563 9.51838 18.7078 9.70394L17.7287 13.4541C17.6595 13.7188 17.5089 13.9524 17.3001 14.1188C17.0912 14.2853 16.8357 14.3755 16.5728 14.3754H10.4427V15.0005C10.4427 15.1662 10.5058 15.3252 10.6181 15.4424C10.7305 15.5597 10.8828 15.6255 11.0416 15.6255H16.4309C16.5402 15.6256 16.6474 15.6569 16.7409 15.716C16.8344 15.7751 16.9106 15.8598 16.9612 15.9609C17.0119 16.062 17.035 16.1756 17.0282 16.2895C17.0214 16.4033 16.9849 16.5131 16.9226 16.6068C17.0092 16.8329 17.044 17.077 17.0243 17.3196C17.0045 17.5622 16.9307 17.7966 16.8087 18.0041C16.6867 18.2117 16.52 18.3866 16.3217 18.515C16.1235 18.6433 15.8992 18.7215 15.6669 18.7434C15.4345 18.7653 15.2005 18.7301 14.9834 18.6409C14.7664 18.5516 14.5723 18.4106 14.4168 18.2291C14.2612 18.0477 14.1484 17.8308 14.0874 17.5958C14.0264 17.3608 14.0188 17.1142 14.0653 16.8756H12.2088C12.2597 17.1365 12.2459 17.4067 12.1687 17.6605C12.0914 17.9143 11.9533 18.1433 11.7674 18.3257C11.5815 18.5082 11.3541 18.638 11.1066 18.7029C10.8592 18.7678 10.5999 18.7656 10.3535 18.6965C10.1071 18.6275 9.88163 18.4938 9.6986 18.3083C9.51557 18.1228 9.38101 17.8915 9.30769 17.6364C9.23438 17.3813 9.22474 17.1109 9.27969 16.8509C9.33464 16.5908 9.45236 16.3498 9.62168 16.1505C9.38512 15.833 9.24438 15.4342 9.24438 15.0005V13.8335L7.9586 8.91452L7.70946 7.96072C7.6749 7.8284 7.5996 7.71161 7.49516 7.62837C7.39073 7.54512 7.26296 7.50004 7.13155 7.50007H6.84888C6.69004 7.50007 6.53772 7.43422 6.42541 7.317C6.3131 7.19978 6.25 7.0408 6.25 6.87503C6.25 6.70926 6.3131 6.55028 6.42541 6.43307ZM15.3209 16.9671C15.377 16.9085 15.4532 16.8756 15.5326 16.8756C15.612 16.8756 15.6882 16.9085 15.7443 16.9671C15.8005 17.0257 15.832 17.1052 15.832 17.1881C15.832 17.271 15.8005 17.3505 15.7443 17.4091C15.6882 17.4677 15.612 17.5006 15.5326 17.5006C15.4532 17.5006 15.377 17.4677 15.3209 17.4091C15.2647 17.3505 15.2332 17.271 15.2332 17.1881C15.2332 17.1052 15.2647 17.0257 15.3209 16.9671ZM10.3008 13.1254H16.5722L17.5514 9.37517H9.32044L10.3008 13.1254ZM10.5298 16.9671C10.586 16.9085 10.6622 16.8756 10.7416 16.8756C10.821 16.8756 10.8972 16.9085 10.9533 16.9671C11.0095 17.0257 11.041 17.1052 11.041 17.1881C11.041 17.271 11.0095 17.3505 10.9533 17.4091C10.8972 17.4677 10.821 17.5006 10.7416 17.5006C10.6622 17.5006 10.586 17.4677 10.5298 17.4091C10.4737 17.3505 10.4421 17.271 10.4421 17.1881C10.4421 17.1052 10.4737 17.0257 10.5298 16.9671Z')
                        p.phone.flex-between.items-center
                            img(src="img/phone.svg", alt="")
                            a(href="tel:0677377108") 067 737 71 08
            .header-carousel.proposition
                .slider-images 
                    img(src="img/header-bg-1.webp", alt="", loading="lazy")
                    img(src="img/header-background-2.webp", alt="", loading="lazy")
                    img(src="img/header-bg-3.webp", alt="", loading="lazy")

                .wrapper
                    .proposition-description
                        .slide-description
                            p.price від 910 грн
                            h2.season чоловіче 
                                span зимове 
                                | взуття
                            .advantage.flex-between 
                                p.producer український виробник
                                .circle-advantages
                                p.price-propos приємні ціни
                                .circle-advantages
                                p.size розміри 40 - 45
                            a(href="#").btn-style-one в каталог
                        .slide-description
                            p.price від 910 грн
                            h2.season чоловіче 
                                span літнє 
                                | взуття
                            .advantage.flex-between 
                                p.producer український виробник
                                .circle-advantages
                                p.price-propos приємні ціни
                                .circle-advantages
                                p.size розміри 40 - 45
                            a(href="#").btn-style-one в каталог
                        .slide-description
                            p.price ми працюємо за системою
                            h2.season.dropshipping-title dropshipping 
                            .advantage.flex-between 
                                p Турбуємось про ваш бізнес. пряма доставка вашим клієнтам

                            a(href="#contactBlock").btn-style-one співпрацювати
                    .arrow.flex-between
                        .arr-left(href="#")
                        .arr-right(href="#")
                    .boots 
                        picture 
                            source(srcset="" type="image/jpg")
                            img(src="", alt="")
        main
            section.card-menu.wrapper
                h2 каталог товарів
                p Оберіть те, що вас цікавить
                .flex-between.filter-block
                    .filter 
                        span.cancel-filter
                        h2 фільтр
                        form(action="")
                            .check-size.flex
                                h3 Розміри
                                input(type="checkbox" id="s-40" name="size" value="size40")
                                label(for="s-40") 40
                                input(type="checkbox" id="s-41" name="size" value="size41")
                                label(for="s-41") 41
                                input(type="checkbox" id="s-42" name="size" value="size42")
                                label(for="s-42") 42
                                input(type="checkbox" id="s-43" name="size" value="size43") 
                                label(for="s-43") 43
                                input(type="checkbox" id="s-44" name="size" value="size44")
                                label(for="s-44") 44
                                input(type="checkbox" id="s-45" name="size" value="size45")
                                label(for="s-45") 45
                            .price-filter.flex
                                h3 Ціна
                                .slider
                                    .progress
                                .range-input
                                    input.range-min(type='range' min='0' max='10000' value='0' step='100')
                                    input.range-max(type='range' min='0' max='10000' value='10000' step='100')
                                .price-input.flex
                                    .field
                                        input.input-min(type='number' value='0')
                                    .separator
                                    .field
                                        input.input-max(type='number' value='10000')
                            .color-filter.flex
                                h3 Колір
                                input(type="checkbox" id="brown" name="color" value="brown")
                                label(for="brown") Коричневий
                                input(type="checkbox" id="blue" name="color" value="blue")
                                label(for="blue") Синій
                                input(type="checkbox" id="haki" name="color" value="haki")
                                label(for="haki") Хакі
                                input(type="checkbox" id="black" name="color" value="black")
                                label(for="black") Чорний
                            .model.flex
                                h3 Модель
                                input(type="checkbox" id="boots1" name="model" value="crosivky")
                                label(for="boots1") Кросівки
                                input(type="checkbox" id="boots2" name="model" value="kedy")
                                label(for="boots2") Кеди
                                input(type="checkbox" id="boots3" name="model" value="cherevyki")
                                label(for="boots3") Черевики
                                input(type="checkbox" id="boots4" name="model" value="sandali")
                                label(for="boots4") Босоніжки
                            .season-filter.flex
                                h3 Сезон
                                input(type="checkbox" id="sum" name="season" value="summer")
                                label(for="sum") Весна - літо
                                input(type="checkbox" id="win" name="season" value="winter")
                                label(for="win") Осінь - зима
                            .material.flex
                                h3 Матеріал
                                input(type="checkbox" id="arm" name="material" value="shkira")
                                label(for="arm") Шкіра
                                input(type="checkbox" id="fakearm" name="material" value="zamsh")
                                label(for="fakearm") Замша
                                input(type="checkbox" id="nobok" name="material" value="nubuk")
                                label(for="nobok") Нубук
                            .style.flex
                                h3 Стиль
                                input(type="checkbox" id="classic" name="style" value="classic")
                                label(for="classic") Класика
                                input(type="checkbox" id="sport" name="style" value="sport")
                                label(for="sport") Спортивний
                                input(type="checkbox" id="day-style" name="style" value="povsiakdenny")
                                label(for="day-style") Повсякденний
                            .flex.button-filter
                                button.submit-filter(type="submit") застосувати фільтр
                                button.cta-transparent.reset-filter(type="reset") скинути фільтр
                    .card-block 
                        .btn-season.flex
                            ul.menu.flex.filter-season
                                li
                                    a.card-cta-season(href="#" data-href="#all") Усі товари
                                li
                                    a.card-cta-season(href="#" data-href="winter") Зимове взуття
                                li
                                    a.card-cta-season(href="#" data-href="demiseason") Демісезонне взуття
                                li
                                    a.card-cta-season(href="#" data-href="summer") Літнє взуття
                            form(action="#")
                                label.arrow-select
                                    .select
                                        input(type='hidden').select__input
                                        .select__in сортування: за замовчуванням
                                        .select__list
                                            .select__item(data-value='2') ціна за спаданням
                                            .select__item(data-value='3') ціна за зростанням
                                            .select__item(data-value='4') за новизною
                                            .select__item(data-value='5') за популярністю
                        .mobile-filter
                            a(href="#") фільтр
                        .card-bott
                        div#pagination.pagination
            section.reviews
                .wrapper 
                    h2.text-title Відгуки клієнтів
                    .reviews-list.flex-wrap
                        //-приклад відгука
                        +lastReviews(reviews.review1)
                        +lastReviews(reviews.review2)
                        +lastReviews(reviews.review3)
                        +lastReviews(reviews.review4)
                        +lastReviews(reviews.review5)
                                            
                .review-btns.flex
                    a(href="#").btn-style-one усі відгуки
                    a(href="#").btn-style-two залишити відгук
            section.aboutus 
                h2 про нашу компанію
                .bgc-block 
                    .our-advantage.wrapper
                        h3 Чому саме нас обирають клієнти?
                        p.deliver.flex
                            span.circle 1-3
                            span Дні доставка взуття у ваше місто. Доставка товару здійснюється компаніями «Нова Пошта» та «Укрпошта»
                        p.our-client.flex
                            span.circle 2-5
                            span Середня кількість пар взуття яку придбали наші постійні клієнти (для постійних клієнтів діють вигідні знижки)
                        p.our-like.flex
                            span.circle 5000+
                            span Задоволених клієнтів за 3 роки, які замовили у нас чоловіче взуття та порекомендували нас друзям та знайомим.
                        a.catalog-cta(href="#") в каталог
            section.order.wrapper
                h2 Як зробити замовлення?
                .order-steps-content.flex-between.flex-wrap
                    .order-description
                        .step-block.flex.items-center
                            +ordersStep(orders.step1)
                        .step-block.flex.items-center
                            +ordersStep(orders.step2)
                        .step-block.flex.items-center
                            +ordersStep(orders.step3)
                    .img-carousel
                        img(src="img/frst-change.png", alt="")
                        img(src="img/sec-change.png", alt="")
                        img(src="img/three-change.png", alt="")
                        img(src="img/last-change.png", alt="")
                .order-btn
                    a.catalog-blue(href="#") в каталог
            section.email-news#contactBlock 
                .picture-box-blur
                .blur-box 
                    .picture-box.blur1
                    .picture-box.blur2
                    .picture-box.blur3
                    .picture-box.blur4
                    .picture-box.blur5
                div.email-box.flex
                    h3 З взуттєвим магнатом купувати вигідніше
                    p Залишились питання?
                    .form-email.flex
                        form.flex.flex-form(action="sendtelegram.php", method="POST")
                            p.input-email
                                input(class="inputMask", type="tel", placeholder="", name="userTel")
                            button(type="submit") передзвоніть мені
        footer 
            .bottom-contact-block
                .wrapper.flex.bottom-navigation
                    .bottom-catalog 
                        nav.nav-block.nav-block-catalog
                            h2 каталог
                            ul 
                                li
                                    a(href="#") Зимове взуття
                                li
                                    a(href="#") Демісезонне взуття
                                li
                                    a(href="#") Літнє взуття
                                li
                                    a(href="#") Взуття зі знижкою
                    .bottom-info 
                        nav.nav-block
                            h2 інформація
                            ul 
                                li
                                    a(href="#") Оплата і доставка
                                li
                                    a(href="#") Політика конфіденційності
                                li
                                    a(href="#") Обмін та повернення
                                li
                                    a(href="#") Договір оферти
                    .bottom-contact 
                        .contact-block
                            h2 наші контакти
                            p.phone.flex.items-center
                                img(src="img/phone.svg", alt="")
                                a(href="tel:0677377108") 067 737 71 08
                            ul.social.flex
                                li 
                                    a.tg(href="#")
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="25rem" height="25rem")
                                            path(d='M104.047 247.832s125-51.3 168.352-69.364c16.619-7.225 72.977-30.347 72.977-30.347s26.012-10.115 23.844 14.451c-.723 10.116-6.503 45.52-12.283 83.815-8.671 54.191-18.064 113.439-18.064 113.439s-1.445 16.619-13.728 19.509-32.515-10.115-36.127-13.006c-2.891-2.167-54.191-34.682-72.977-50.578-5.058-4.335-10.838-13.005.722-23.121 26.012-23.844 57.081-53.468 75.867-72.254 8.671-8.671 17.341-28.902-18.786-4.336-51.3 35.405-101.878 68.642-101.878 68.642s-11.561 7.225-33.237.722c-21.677-6.502-46.966-15.173-46.966-15.173s-17.34-10.838 12.284-22.399z' fill='#fff')

                                li
                                    a.inst(href="#") 
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18rem" height="18rem")
                                            path(d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z")
                                li 
                                    a.fb(href="#") 
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15rem" height="17rem")
                                            path(d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z")

            p.footer-copy  &copy 2022 - 2024 Взуттєвий магнат



        script(src="js/scripts.js" defer)




