doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    
    body 
        include components/mixin
        .basket-popup 
            .basket-header-line
                .wrapper.flex.items-center
                    h2 кошик
                    .calc-added-products 0
            .basket-main.flex-between.wrapper  
                .added-products-list.wrapper 
                .order-details
                    h3 деталі замовлення
                    .order-line.flex-between.w-100
                        span Вартість замовлення
                        span.order-total-price 7690
                    .order-line.flex-between.w-100
                        span Знижка
                        span.order-total-price 90       
            .basket-footer 
                .wrapper
                    span.basket-back повернутися у каталог
        header 
            .top-line
                .wrapper.flex-between.items-center
                    nav 
                        ul.menu.flex-between.top-nav
                            li
                                a(href="index.html") Головна
                            li
                                a(href="#") Каталог
                            li
                                a(href="#") Відгуки
                            li
                                a(href="#") Про нас
                    .logo
                        a(href="index.html")
                            img(src="img/logo.png", alt="") 
                    .header-contact.flex.items-center
                        p.cart
                            a(href="#") 
                            img(src="img/cart.svg", alt="")
                        p.phone.flex-between.items-center
                            img(src="img/phone.svg", alt="")
                            a(href="tel:0677377108") 067 737 71 08
            .header-carousel.proposition
                .wrapper
                    .proposition-description 
                        p.price від 910 грн
                        h1.season чоловіче 
                            span.winter зимове 
                            span.summer літнє 
                            | взуття
                        .advantage.flex-between 
                            p.producer український виробник
                            p.price-propos приємні ціни
                            p.size розміри 40 - 45
                        a(href="#").btn-style-one в каталог
                    .arrow.flex-between
                        .arr-left(href="#")
                        .arr-right(href="#")
                    .boots 
                        picture 
                            source(srcset="" type="image/jpg")
                            img(src="", alt="")
        main
            section.card-menu.wrapper
                h2 каталог товарів
                p Оберіть те, що вас цікавить
                .flex-between
                    .filter 
                        h2 фільтр
                        form(action="")
                            .check-size.flex
                                h3 Розміри
                                input(type="checkbox" id="s-40" value="40")
                                label(for="s-40") 40
                                input(type="checkbox" id="s-41" value="41")
                                label(for="s-41") 41
                                input(type="checkbox" id="s-42" value="42")
                                label(for="s-42") 42
                                input(type="checkbox" id="s-43" value="43") 
                                label(for="s-43") 43
                                input(type="checkbox" id="s-44" value="44")
                                label(for="s-44") 44
                                input(type="checkbox" id="s-45" value="45")
                                label(for="s-45") 45
                            .price-filter.flex
                                h3 Ціна
                                .slider
                                    .progress
                                .range-input
                                    input.range-min(type='range' min='0' max='10000' value='0' step='100')
                                    input.range-max(type='range' min='0' max='10000' value='10000' step='100')
                                .price-input.flex
                                    .field
                                        input.input-min(type='number' value='0')
                                    .separator
                                    .field
                                        input.input-max(type='number' value='10000')
                            .color-filter.flex
                                h3 Колір
                                input(type="checkbox" id="brown")
                                label(for="brown") Коричневий
                                input(type="checkbox" id="blue")
                                label(for="blue") Синій
                                input(type="checkbox" id="haki")
                                label(for="haki") Хакі
                                input(type="checkbox" id="black")
                                label(for="black") Чорний
                            .model.flex
                                h3 Модель
                                input(type="checkbox" id="boots1")
                                label(for="boots1") Кросівки
                                input(type="checkbox" id="boots2")
                                label(for="boots2") Кеди
                                input(type="checkbox" id="boots3")
                                label(for="boots3") Черевики
                                input(type="checkbox" id="boots4")
                                label(for="boots4") Босоніжки
                            .season-filter.flex
                                h3 Сезон
                                input(type="checkbox" id="sum")
                                label(for="sum") Весна - літо
                                input(type="checkbox" id="win")
                                label(for="win") Осінь - зима
                            .material.flex
                                h3 Матеріал
                                input(type="checkbox" id="arm")
                                label(for="arm") Шкіра
                                input(type="checkbox" id="fakearm")
                                label(for="fakearm") Замша
                                input(type="checkbox" id="nobok")
                                label(for="nobok") Нубук
                            .style.flex
                                h3 Стиль
                                input(type="checkbox" id="classic")
                                label(for="classic") Класика
                                input(type="checkbox" id="sport")
                                label(for="sport") Спортивний
                                input(type="checkbox" id="day-style")
                                label(for="day-style") Повсякденний
                            .flex.button-filter
                                button.submit-filter(type="submit") застосувати фільтр
                                button.cta-transparent.reset-filter(type="reset") скинути фільтр
                    .card-block 
                        .btn-season.flex
                            ul.menu.flex-between.filter-season
                                li
                                    a(href="#") Усі товари
                                li
                                    a(href="#") Зимове взуття
                                li
                                    a(href="#") Демісезонне взуття
                                li
                                    a(href="#") Літнє взуття
                            form(action="#")
                                label.arrow-select
                                    select(name="sort") 
                                        option(value="" disabled selected hidden) сортування: за замовчуванням
                                        option(value="")  ціна за спаданням
                                        option(value="")  ціна за зростанням
                                        option(value="")  за новизною
                                        option(value="")  за популярністю
                        .card-bott
                        div#pagination.pagination


            section.reviews
                .wrapper 
                    h2.text-title Відгуки клієнтів
                    .reviews-list.flex-wrap
                        //-приклад відгука
                        .review-card
                            .flex-between.items-center
                                span Шамрай Артем
                                span.date 30.12.2023
                            p В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною.
                        .review-card
                            .flex-between.items-center
                                span Шамрай Артем
                                span.date 30.12.2023
                            p В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною.
                        .review-card
                            .flex-between.items-center
                                span Шамрай Артем
                                span.date 30.12.2023
                            p В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною.
                        .review-card
                            .flex-between.items-center
                                span Шамрай Артем
                                span.date 30.12.2023
                            p В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною.
                        .review-card
                            .flex-between.items-center
                                span Шамрай Артем
                                span.date 30.12.2023
                            p В принципі за свої гроші доволі не поганий товар. Виглядають надійно як і по матеріалах так і як виконанні.Як будуть носитися ще подивимося, поки в місті майже 10 як для зими.З нюансів це вага. Трохи не дуже сучасно зараз але вибирав за ціною.
                .review-btns.flex
                    a(href="#").btn-style-one усі відгуки
                    a(href="#").btn-style-two залишити відгук
            section.aboutus 
                h2 про нашу компанію
                .bgc-block 
                    .our-advantage.wrapper
                        h3 Чому саме нас обирають клієнти?
                        p.deliver.flex
                            span.circle 1-3
                            span Дні доставка взуття у ваше місто. Доставка товару здійснюється компаніями «Нова Пошта» та «Укрпошта»
                        p.our-client.flex
                            span.circle 2-5
                            span Середня кількість пар взуття яку придбали наші постійні клієнти (для постійних клієнтів діють вигідні знижки)
                        p.our-like.flex
                            span.circle 5000+
                            span Задоволених клієнтів за 3 роки, які замовили у нас чоловіче взуття та порекомендували нас друзям та знайомим.
                        a.catalog-cta(href="#") в каталог
            section.order.wrapper
                h2 Як зробити замовлення?
                .flex-between
                    .order-description.flex-between 
                        +ordersStep(orders.step1)
                        +ordersStep(orders.step2)
                        +ordersStep(orders.step3)
                    .img-carousel 
                a.catalog-blue(href="#") в каталог
            section.email-news.wrapper  
                div 
                    h3 З взуттєвим магнатом купувати вигідніше
                    p Підпишіться на новини. Ми надсилатимемо вам тільки найкращі пропозиції.
                    .flex-between
                        form(action="sendtelegram.php", method="POST")
                            input(type="email", placeholder="Ваш e-mail", name="userEmail")
                            button(type="submit") підписатися

        script(src="js/scripts.js" defer)




