doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
        title Взуттєвий Магнат
        link(rel="stylesheet", href="css/styles.css")
    
    body 
        include components/mixin
        .popap-card.d-block
            .popap-header
                p.back-to-main.wrapper.popup-back-btns повернутися 
            .wrapper.main-block-popap
                .card-info
                    .img-card
                        .small-img 
                            picture
                                img.small-img-first(src="", alt="" loading="lazy")
                            picture
                                img.small-img-second(src="", alt="" loading="lazy")
                            picture
                                img.small-img-last(src="", alt="" loading="lazy")
                        .main-img
                            picture
                                img.main-card-img(src="", alt="" loading="lazy")
                    .descriptiom-block-popap
                        .description-car
                            h2.description-card_popap
                            p.code-card_popap
                            .flex
                                p.new-price-popap
                                p.price-popap
                            hr.card-hr
                            .flex-between.choise-block
                                .choise-card-popap
                                    .flex.items-center
                                        p Оберіть розмір:
                                        .choise-size_popap.input-block
                                    .choise-color_popap.flex.items-center
                                        p Оберіть колір:
                                    .choise-quantiti_popap.flex
                                        p Оберіть кількість:
                                        .quantity-popap
                                            .quantity.flex
                                                .minus-quantity.min-count_card -
                                                .quantity-number.num-count-card 1
                                                .plus-quantity.max-count_card +
                                .size-popap
                                    a.cta-size-popap(href="#") розмірна сітка
                                .bg-size-popap 
                                .size-block_popap
                                    a.cancel-size-popap(href="#") 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.267146 0.181446C0.506963 -0.0604821 0.895783 -0.0604821 1.1356 0.181446L5 4.07987L8.8644 0.181446C9.10422 -0.0604821 9.49304 -0.0604821 9.73285 0.181446C9.97267 0.423375 9.97267 0.815619 9.73285 1.05755L5.86845 4.95597L9.82014 8.94245C10.06 9.18438 10.06 9.57662 9.82014 9.81855C9.58032 10.0605 9.1915 10.0605 8.95168 9.81855L5 5.83207L1.04832 9.81855C0.8085 10.0605 0.419679 10.0605 0.179863 9.81855C-0.0599542 9.57662 -0.0599542 9.18438 0.179863 8.94245L4.13155 4.95597L0.267146 1.05755C0.0273296 0.815619 0.0273296 0.423375 0.267146 0.181446Z" fill="#4E98B6"/>
                                        </svg>
                                    h3 Розмірна сітка
                                    .sizes.flex-between.items-center
                                        .name-sizes
                                            p розмір
                                            p сантиметри
                                        .sizes-number
                                            .sizes-number-block
                                                p 39
                                                p 40
                                                p 41
                                                p 42
                                                p 43
                                                p 44
                                                p 45
                                                p 46
                                            .sm-number-block
                                                p 25
                                                p 26
                                                p 27
                                                p 28
                                                p 28,5
                                                p 29
                                                p 29,5
                                                p 30
                        .description-select    
                            .description-blog
                                a.readmore(href="#") Опис
                                .description-more
                                    .descript-popap 
                            .description-blog
                                a.readmore(href="#") Характеристики
                                .description-more
                                    p.producer-card_popap.flex-between.bord-popap
                                    p.country-card_popap.flex-between.bord-popap
                                    p.kind-card_popap.flex-between.bord-popap
                                    p.season-card_popap.flex-between.bord-popap
                                    p.material-top_popap.flex-between.bord-popap
                                    p.material-bottom_popap.flex-between.bord-popap
                                    p.material-sole_popap.flex-between.bord-popap
                                    p.style-card_popap.flex-between.bord-popap
                            .description-blog
                                a.btn.readmore(href="#")  Доставка
                                .description-more 1-3 дні доставка взуття у ваше місто. Доставка товару здійснюється компаніями «Нова Пошта» та «Укрпошта»
                        a.cta-popap(href="#") у кошик 
                p.text-same-card схожі товари
                .same-card-block
                    .same-card.wrapper
        



        script(src="js/scripts.js" defer)




